openapi: 3.0.0
info:
  version: 1.0.0
  title: Claps api
  termsOfService: "https://claps.com.br/"
  contact:
    name: Claps API Suporte 
    email: desenvolvimento@claps.com.br
  x-logo:
    url: "https://sandbox.claps.tec.br/assets/images/logotipo-claps.svg"
    altText: Claps logo
  description: |
    # Autenticação
    A autenticação para as rotas são feitas utilizando JWT, podendo em algumas rotas, ser solicitada a `chave_acesso` do produtor, para verificação de chave dupla.
    Em caso do token ser inválido será retornado um status code `403 - Forbidden` com a mensagem:
    ~~~~
    {
      "message": "403 - Sem permissão"
    }
    ~~~~
    <!-- ReDoc-Inject: <security-definitions> -->  

    # Header
    As requisições necessitam do envio dos parâmetros abaixo no header.
    ### `origin`
    Para todas as requisições desta API é necessário o envio do parâmetro `origin` , o não envio deste parâmetro trará como retorno o status code `403 - Forbidden` seguido das seguintes informações:
    ~~~~
    "erro":
      {
        "codigo": "AcessoNaoAutorizado",
        "mensagem": "Acesso não autorizado."
      }
    ~~~~
    ### `Authorization`
    Para as requisições onde seja necessário o envio do parâmetro `Authorization` , o não envio deste parâmetro trará como retorno o status code `403 - Forbidden` seguido das seguintes informações:
    ~~~~
    "erro":
      {
        "codigo": "AcessoNaoAutorizado",  
        "mensagem": "Acesso não autorizado."
      }
    ~~~~
    ### `recaptcha-token`
    Para as requisições onde seja necessário o envio do parâmetro `recaptcha-token`, o não envio deste parâmetro trará como retorno o status code `412 - Precondition Failed` seguido das seguintes informações:
    ~~~~
    "erro":
      {
        "codigo": "ValidarCaptcha",
        "mensagem": "Captcha incorreto."
      }
    ~~~~

    # Validação de campos nos dados de entrada
    O Claps API valida cada um dos campos enviados na requisição antes de prosseguir com a criação, consulta ou gerenciamento dos pedidos, transações e recursos.

    Caso um ou mais campos não sejam validados, será retornado o status code `422 - Unprocessable Entity` e o corpo da resposta conterá o nome dos campos como chave e um array de string descrevendo o erro pra cada campo, como visto abaixo.
    ~~~~
    {
      "campo_errado_1": ["Descrição do erro do campo 1"],
      "campo_errado_2": ["Descrição do erro do campo 2"]
    }
    ~~~~
    # Paginação
    Em rotas que possuem paginação, as respostas descritas aqui na documentação serão encapsuladas na seguinte estrutura:
    ~~~~
    {
      "total_registros": 0,
      "total_paginas": 0,
      "registros": [
        {resposta descrita na funcionalidade}
      ],
      "extra" : {
        campos comuns caso existam, será descrito na rota se existem e quais são utilizados.
        Caso não exista, não será enviado
      }
    }
    ~~~~

    # Filtros de consulta

    As rotas que retonam listas de elementos e permitem filtragem utilizam o padrão **LHS Brackets**. Segue tabela de notação.

    | Operador | Notação Bracket |
    | -------  | --------        |
    | N/A      | [range]         |
    | N/A      | [like]          |
    | =        | [eq]            |
    | !=       | [ne]            |
    | >        | [gt]            |
    | >=       | [gte]           |
    | <        | [lt]            |
    | <=       | [lte]           |

    #### Exemplo
    ```
        https://api.claps.com.br/objeto?nome[eq]=Jose
    ```
    # Mensagens
    [Aqui](/doc/mensagens/#section/Mensagens) você encontra a listagem de todos os possíveis códigos de retorno e as suas respectivas mensagens que são retornadas pelo Claps.
servers:
  - url: https://api.claps.com.br
    description: Produção
  - url: https://apisandbox.claps.com.br
    description: Sandbox
  - url: https://apidev.claps.com.br
    description: Integração Interna
  - url: https://apihg.claps.com.br
    description: Homologação Gestora
x-tagGroups:
  - name: Geral
    tags:
      - Autenticação
      - Menus
      - Perfis
      - Usuários
      - Nacionalidades
      - Seguradoras
      - Corretoras
      - Estipulantes
      - Canais de Distribuição
      - Unidades de Venda
      - Canais de Venda
      - Parceiros
      - Clientes
      - Bancos
      - Estados Civis
      - Orgãos Emissores
      - UFs
      - Assistenciadoras
      - Produtos
      - Produtos Distrbuição
      - Métodos de Pagamentos
      - Solicitações de Cancelamento
      - Contratos
      - Pessoas Jurídicas
      - Pessoas
      - Apólices
      - Políticas de Comissionamentos
      - Serviço
      - Cobrança
      - Origens
paths:
  /autenticacao/servico/login:
    post:
      tags:
        - Autenticação
      summary: Login Serviço
      description: Login Serviço
      operationId: login-servico-externo
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/LoginClientResponse"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "clientId",
                                "mensagem": "'Client Id' deve ser informado.",
                              },
                              {
                                "nome": "secretKey",
                                "mensagem": "'Secret Key' deve ser informado.",
                              },
                            ],
                        },
                    }
        "401":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro401"
              examples:
                dadosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AcessoNegado",
                          "mensagem": "Client id ou secret key inválidos.",
                        },
                    }
                clientBloqueado:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AcessoNegado",
                          "mensagem": "Cliente inativo ou bloqueado.",
                        },
                    }
                clienteInvalido:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "Clienteinvalido",
                          "mensagem": "Cliente não encontrado.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginClientRequest"
        required: true
  /autenticacao/login:
    post:
      tags:
        - Autenticação
      summary: Login Usuário
      description: Login Usuário
      operationId: login-usuario
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/LoginResponse"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "usuario",
                                "mensagem": "'Usuario' deve ser informado.",
                              },
                              {
                                "nome": "senha",
                                "mensagem": "'Senha' deve ser informado.",
                              },
                            ],
                        },
                    }
        "401":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro401"
              examples:
                acessoNegado:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AcessoNegado",
                          "mensagem": "Usuário ou senha inválidos.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                usuario:
                  type: string
                senha:
                  type: string
        required: true
  /autenticacao/logout:
    post:
      tags:
        - Autenticação
      summary: Logout Usuário
      description: Logout Usuário
      operationId: logout-usuario
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "401":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro401"
              examples:
                acessoNegado:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AcessoNegado",
                          "mensagem": "Usuário ou senha inválidos.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
          - bearerAuth: []
  /autenticacao/alterar-senha:
    patch:
      tags:
        - Autenticação
      summary: Alterar senha
      description: alterar senha
      operationId: alterar-senha
      requestBody:
        content:
            application/json:
              schema:
                type: object
                properties:
                  usuario:
                    description: Nome de usuário
                    type: string
                  senhaAtual:
                    type: string
                    description: Senha atual do usuário
                  senha:
                    type: string
                    description: Nova senha a ser cadastrada
                  confirmacaoSenha:
                    type: string
                    description: Confirmação da nova senha a ser cadastrada
                required:
                  - usuario
                  - senhaAtual
                  - senha
                  - confirmacaoSenha
      responses:
        "204":
          description: sucesso
          headers: {}
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                falha no sistema de autenticação:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "SistemaAutenticacao",
                          "mensagem": "Falha no sistema de autenticação.",
                        },
                    }
                status já definido:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AlterarStatusUsuario",
                          "mensagem": "Status já definido.",
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UsuarioInexistente",
                          "mensagem": "Usuário inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /autenticacao/solicitar-recuperacao-senha:
    post:
        tags:
          - Autenticação
        summary: Solicitar recuperação de senha
        description: solicitar recuperacao senha
        operationId: solicitar-recuperacao-senha
        requestBody:
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    usuario:
                      description: Nome de usuário
                      type: string
                    celular:
                        type: string
                        description: Número de celular para o envio do código para a recuperação da senha
                  required:
                    - usuario
                    - celular

        responses:
          "204":
            description: sucesso
            headers: {}
          "400":
            description: argumentos inválidos.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro400"
                examples:
                  falha no sistema de autenticação:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "SistemaAutenticacao",
                            "mensagem": "Falha no sistema de autenticação.",
                          },
                      }
                  status já definido:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "AlterarStatusUsuario",
                            "mensagem": "Status já definido.",
                          },
                      }
          "403":
            description: acesso não autorizado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro403"
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500"
        security:
          - bearerAuth: []
  /autenticacao/recuperar-senha:
    patch:
        tags:
          - Autenticação
        summary: Recuperar senha
        description: recuperar senha
        operationId: recuperar-senha
        requestBody:
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    usuario:
                      description: Nome de usuário
                      type: string
                    senhaAtual:
                        type: string
                        description: Senha atual do usuário
                    senha:
                      type: string
                      description: Nova senha a ser cadastrada
                    confirmacaoSenha:
                      type: string
                      description: Confirmação da nova senha a ser cadastrada
                  required:
                    - usuario
                    - senhaAtual
                    - senha
                    - confirmacaoSenha
        responses:
          "204":
            description: sucesso
            headers: {}
          "400":
            description: argumentos inválidos.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro400"
                examples:
                  falha no sistema de autenticação:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "SistemaAutenticacao",
                            "mensagem": "Falha no sistema de autenticação.",
                          },
                      }
                  status já definido:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "AlterarStatusUsuario",
                            "mensagem": "Status já definido.",
                          },
                      }
          "403":
            description: acesso não autorizado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro403"
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500"
        security:
          - bearerAuth: []
  /autenticacao/gerar-codigo:
    post:
        tags:
          - Autenticação
        summary: Gerar código validação
        description: Gerar código validação
        operationId: gerar-codigo-validacao
        requestBody:
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    cpf:
                      description: Cpf do usuário
                      type: string
                  required:
                    - cpf
        responses:
          "201":
            description: sucesso
            content:
              application/json:
                schema:
                  properties:
                    dados:
                      type: array
                      items:
                        "$ref": "#/components/schemas/CodigoConfirmacaoResponse"
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500"
  /autenticacao/confirmar-codigo:
    post:
        tags:
          - Autenticação
        summary: Confirmar código validação
        description: Confirmar código validação
        operationId: confirmar-codigo-validacao
        requestBody:
          content:
              application/json:
                schema:
                  type: object
                  properties:
                    cpf:
                      description: Cpf do usuário
                      type: string
                    codigo:
                      description: Código de validação
                      type: string
                  required:
                    - cpf
                    - codigo
        responses:
          "201":
            description: sucesso
            content:
              application/json:
                schema:
                  properties:
                    dados:
                      type: array
                      items:
                        "$ref": "#/components/schemas/CodigoConfirmacaoResponse"
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500"                  
  /menus:
    get:
      tags:
        - Menus
      summary: Listar Menus
      description: listar menus.
      operationId: listar-menus
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/MenuResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /perfis:
    get:
      tags:
        - Perfis
      summary: Listar Perfis
      description: listar perfis.
      operationId: listar-perfis
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/PerfilResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /perfis/{perfilId}/scopes:
    get:
      tags:
        - Perfis
      summary: Listar Permissões
      description: listar permissões.
      operationId: listar-permissoes
      parameters:
        - name: perfilId
          in: path
          description: Id do perfil
          required: true
          schema:
            allOf:
              - $ref: "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ScopeResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios:
    get:
      tags:
        - Usuários
      summary: Listar Usuários
      description: listar usuários.
      operationId: listar-usuarios
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/UsuarioResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    post:
      tags:
        - Usuários
      summary: Cadastrar Usuário
      description: cadastrar Usuário
      operationId: cadastrar-usuario
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UsuarioRequest"
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id do usuário
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "nome",
                                "mensagem": "'Nome' deve ser informado.",
                              },
                              {
                                "nome": "cpf",
                                "mensagem": "'Cpf' deve ser informado.",
                              },
                              {
                                "nome": "celular",
                                "mensagem": "'Celular' deve ser informado.",
                              },
                              {
                                "nome": "email",
                                "mensagem": "'Email' deve ser informado.",
                              },
                              {
                                "nome": "perfisIds",
                                "mensagem": "'Perfis Ids' deve ser informado.",
                              },
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "422":
          description: unprocessable entity.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                cadastroUsuario:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CadastroUsuario",
                          "mensagem": "Usuário existe no autenticador, mas não existe no autorizador.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios/{usuarioId}:
    get:
      tags:
        - Usuários
      summary: Obter usuário
      description: obter usuário
      operationId: obter-usuario
      parameters:
        - name: usuarioId
          in: path
          description: Id do usuário
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/UsuarioDetalhe"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UsuarioInexistente",
                          "mensagem": "Usuário inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    put:
      tags:
        - Usuários
      summary: Atualizar Usuário
      description: atualizar usuário
      operationId: atualizar-usuario
      parameters:
        - name: usuarioId
          in: path
          description: Id do usuário
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UsuarioAtualizarRequest"
      responses:
        "204":
          description: sucesso
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "nome",
                                "mensagem": "'Nome' deve ser informado.",
                              },
                              {
                                "nome": "celular",
                                "mensagem": "'Celular' deve ser informado.",
                              },
                              {
                                "nome": "email",
                                "mensagem": "'Email' deve ser informado.",
                              },
                              {
                                "nome": "perfisIds",
                                "mensagem": "'Perfis Ids' deve ser informado.",
                              },
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios/cpf/{cpf}:
    get:
      tags:
        - Usuários
      summary: Obter usuário por cpf
      description: obter usuário por cpf
      operationId: obter-usuarios-cpf
      parameters:
        - name: cpf
          in: path
          description: CPF do usuário
          required: true
          schema:
            type: string
            format: number
            maxLength: 11
            minLength: 11
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/UsuarioBuscaCpfResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UsuarioInexistente",
                          "mensagem": "Usuário inexistente.",
                        },
                    }
        "422":
          description: unprocessable entity.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CadastroUsuario",
                          "mensagem": "CPF informado já cadastrado.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios/{usuarioId}/ativar:
    patch:
      tags:
        - Usuários
      summary: Ativar usuário
      description: ativar usuário
      operationId: ativar-usuario
      parameters:
        - name: usuarioId
          in: path
          description: Id do usuário
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                falha no sistema de autenticação:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "SistemaAutenticacao",
                          "mensagem": "Falha no sistema de autenticação.",
                        },
                    }
                status já definido:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AlterarStatusUsuario",
                          "mensagem": "Status já definido.",
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UsuarioInexistente",
                          "mensagem": "Usuário inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios/{usuarioId}/inativar:
    patch:
      tags:
        - Usuários
      summary: Inativar usuário
      description: inativar usuário
      operationId: inativar-usuario
      parameters:
        - name: usuarioId
          in: path
          description: Id do usuário
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                falha no sistema de autenticação:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "SistemaAutenticacao",
                          "mensagem": "Falha no sistema de autenticação.",
                        },
                    }
                status já definido:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "AlterarStatusUsuario",
                          "mensagem": "Status já definido.",
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UsuarioInexistente",
                          "mensagem": "Usuário inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /usuarios/cpf/{cpf}/dados-auto-contratacao:
    get:
        tags:
          - Usuários
        summary: Obter dados para auto contratação
        description: Obter dados para auto contratação
        operationId: dados-auto-contratacao
        parameters:
          - name: cpf
            in: path
            description: CPF do usuário
            required: true
            schema:
              type: string
              format: number
              maxLength: 11
              minLength: 11
        responses:
          "200":
            description: sucesso
            content:
              application/json:
                schema:
                  properties:
                    dados:
                      type: array
                      items:
                        "$ref": "#/components/schemas/DadosUsuarioAutoContratacao"
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500"  
  /usuarios/cadastro/completo:
    post:
      tags:
        - Usuários
      summary: Cadastrar Usuário completo
      description: Cadastrar usuário com senha
      operationId: cadastrar-usuario-completo
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UsuarioCadastroComSenha"
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id do usuário
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "nome",
                                "mensagem": "'Nome' deve ser informado.",
                              },
                              {
                                "nome": "cpf",
                                "mensagem": "'Cpf' deve ser informado.",
                              },
                              {
                                "nome": "celular",
                                "mensagem": "'Celular' deve ser informado.",
                              },
                              {
                                "nome": "email",
                                "mensagem": "'Email' deve ser informado.",
                              },                                                           
                              {
                                "nome": "senha",
                                "mensagem": "'Senha' deve ser informado.",
                              },
                              {
                                "nome": "confirmacaSenha",
                                "mensagem": "'Confirmacao Senha' deve ser informado.",
                              }
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "422":
          description: unprocessable entity.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                cadastroUsuario:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CadastroUsuario",
                          "mensagem": "Usuário existe no autenticador, mas não existe no autorizador.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"  
  /usuarios/cpf/{cpf}/vincular-origem-atual:
    post:
        tags:
          - Usuários
        summary: Vincular origem atual
        description: Vincular usuário a origem atual
        operationId: vincular-origem-atual
        parameters:
          - name: cpf
            in: path
            description: CPF do usuário
            required: true
            schema:
              type: string
              format: number
              maxLength: 11
              minLength: 11
        responses:
          "204":
            description: sucesso
            headers: {}
          "404":
            description: não encontrado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro404"
                examples:
                  usuário inexistente:
                    value:
                      {
                        "erro":
                          {
                            "codigo": "UsuarioInexistente",
                            "mensagem": "Usuário inexistente.",
                          },
                      }
          "500":
            description: comportamento inesperado.
            content:
              application/json:
                schema:
                  "$ref": "#/components/schemas/Erro500" 
  /nacionalidades:
    get:
      tags:
        - Nacionalidades
      summary: Listar Nacionalidades
      description: listar nacionalidades.
      operationId: listar-nacionalidades
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/NacionalidadeResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /seguradoras:
    get:
      tags:
        - Seguradoras
      summary: Listar Seguradoras
      description: listar seguradoras
      operationId: listar-seguradoras
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/SeguradoraResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /corretoras:
    get:
      tags:
        - Corretoras
      summary: Listar Corretoras
      description: listar corretoras
      operationId: listar-corretoras
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CorretoraResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /estipulantes:
    get:
      tags:
        - Estipulantes
      summary: Listar Estipulantes
      description: listar estipulantes
      operationId: listar-estipulantes
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EstipulanteResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-distribuicao:
    get:
      tags:
        - Canais de Distribuição
      summary: Listar Canais de Distribuição
      description: listar canais de distribuição
      operationId: listar-canais-distribuicao
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CanalDistribuicaoResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    post:
      tags:
        - Canais de Distribuição
      summary: Cadastrar Canal de Distribuição
      description: cadastrar canal de distribuição
      operationId: cadastrar-canal-distribuicao
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CanalDistribuicaoRequest"
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-distribuicao/{canalDistribuicaoId}:
    get:
      tags:
        - Canais de Distribuição
      summary: Obter Canal de Distribuição
      description: obter Canal de Distribuição
      operationId: obter-canal-distribuicao
      parameters:
        - name: canalDistribuicaoId
          in: path
          description: Id do canal de distribuição
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CanalDistribuicaoDetalheResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    put:
      tags:
        - Canais de Distribuição
      summary: Atualizar Canal de Distribuição
      description: atualizar canal de distribuição
      operationId: atualizar-canal-distribuicao
      parameters:
        - name: canalDistribuicaoId
          in: path
          description: Id do canal de distribuição
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CanalDistribuicaoAtualziarRequest"
      responses:
        "204":
          description: sucesso
          headers: {}
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "nome",
                                "mensagem": "'Nome' deve ser informado.",
                              },
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                unidade de venda inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
                canal de distribuição inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-distribuicao/{canalDistribuicaoId}/ativar:
    patch:
      tags:
        - Canais de Distribuição
      summary: Ativar Canal de Distribuição
      description: ativar canal de distribuição
      operationId: ativar-canal-distribuicao
      parameters:
        - name: canalDistribuicaoId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-distribuicao/{canalDistribuicaoId}/inativar:
    patch:
      tags:
        - Canais de Distribuição
      summary: Inativar Canal de Distribuição
      description: inativar canal de distribuição
      operationId: inativar-canal-distribuicao
      parameters:
        - name: canalDistribuicaoId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-distribuicao/{canalDistribuicaoId}/unidades-venda:
    post:
      tags:
        - Unidades de Venda
      summary: Cadastrar Unidade de venda
      description: cadastrar unidade de venda
      operationId: cadastrar-unidade-venda
      parameters:
        - name: canalDistribuicaoId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/UnidadeVendaCadastroRequest"
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "descricao",
                                "mensagem": "'Descricao' deve ser informado.",
                              },
                              {
                                "nome": "nome",
                                "mensagem": "'Nome' deve ser informado.",
                              },
                              {
                                "nome": "tipo",
                                "mensagem": "'Tipo' deve ser informado.",
                              },
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-venda/{canalVendaId}:
    delete:
      tags:
        - Canais de Venda
      summary: Deletar Canal de Venda
      description: deletar canal de venda
      operationId: deletar-canal-venda
      parameters:
        - name: canalVendaId
          in: path
          description: Id do canal de venda
          required: true
          schema:
            allOf:
              - $ref: "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalVendaInexistente",
                          "mensagem": "Canal de Venda inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    put:
      tags:
        - Canais de Venda
      summary: Atualizar Canal de Venda
      description: atualizar canal de venda
      operationId: atualizar-canal-venda
      parameters:
        - name: canalVendaId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CanalVendaAtualizarRequest"
      responses:
        "204":
          description: sucesso
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalVendaInexistente",
                          "mensagem": "Canal de Venda inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canais-venda/tipos:
    get:
      tags:
        - Canais de Venda
      summary: Listar Tipos de Canais de Venda
      description: listar tipos de canais de venda
      operationId: listar-tipos-canais-venda
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CanalVendaTipoResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canal-venda/{canalVendaId}/produtos:
    get:
      tags:
        - Canais de Venda
      summary: Listar Produtos do Canal de Venda
      description: listar produtos do canal de venda
      operationId: listar-produtos-canal-venda
      parameters:
        - name: canalVendaId
          in: path
          description: Id do canal de venda
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ProdutoCanalVendaResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /canal-venda/{canalVendaId}/produto/{produtoId}:
    get:
      tags:
        - Canais de Venda
      summary: Obter Canal de Venda e Produto
      description: obter canal de venda e produto
      operationId: obter-canal-venda-produto
      parameters:
        - name: canalVendaId
          in: path
          description: Id do canal de venda
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
        - name: produtoId
          in: path
          description: Id do produto
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                 schema:
                    "$ref": "#/components/schemas/CanalDistribuicaoProdutoResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /parceiros:
    get:
      tags:
        - Parceiros
      summary: Listar Parceiros
      description: listar parceiros
      operationId: listar-parceiros
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ParceiroResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /cliente:
    post:
      tags:
        - Clientes
      summary: Cadastrar Cliente
      description: cadastrar cliente
      operationId: cadastrar-cliente
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "cliente.Cpf",
                                "mensagem": "'Cliente. Cpf' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Email",
                                "mensagem": "'Cliente. Email' deve ser informado.",
                              },
                              {
                                "nome": "cliente.DataNascimento",
                                "mensagem": "'Cliente. Data Nascimento' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Sexo",
                                "mensagem": "'Cliente. Sexo' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Rg.Numero",
                                "mensagem": "'Cliente. Rg. Numero' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Rg.DataEmissao",
                                "mensagem": "'Cliente. Rg. Data Emissao' deve ser informado.",
                              }
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClienteRequest"
        required: true
  /cliente/{clienteId}/contratos:
    get:
      tags:
        - Clientes
      summary: Listar Contratos
      description: listar contratos.
      operationId: listar-contratos-cliente
      parameters:
        - name: clienteId
          in: path
          description: Id do cliente
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ContratoResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /clientes:
    get:
      tags:
        - Clientes
      summary: Listar Clientes
      description: listar clientes
      operationId: listar-clientes
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ClienteResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /clientes/{clienteId}:
    get:
      tags:
        - Clientes
      summary: Obter Cliente
      description: obter cliente
      operationId: obter-cliente
      parameters:
        - name: clienteId
          in: path
          description: Id do cliente
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ClienteDetalheResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ClienteInexistente",
                          "mensagem": "Cliente inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    put:
      tags:
        - Clientes
      summary: Atualizar Cliente
      description: atualizar cliente
      operationId: atualizar-cliente
      parameters:
        - name: clienteId
          in: path
          description: Id do cliente
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ClienteAtualizarRequest"
      responses:
        "204":
          description: sucesso
          headers: {}
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
                                "nome": "cliente.Cpf",
                                "mensagem": "'Cliente. Cpf' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Email",
                                "mensagem": "'Cliente. Email' deve ser informado.",
                              },
                              {
                                "nome": "cliente.DataNascimento",
                                "mensagem": "'Cliente. Data Nascimento' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Sexo",
                                "mensagem": "'Cliente. Sexo' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Rg.Numero",
                                "mensagem": "'Cliente. Rg. Numero' deve ser informado.",
                              },
                              {
                                "nome": "cliente.Rg.DataEmissao",
                                "mensagem": "'Cliente. Rg. Data Emissao' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Cep",
                                "mensagem": "'Cep' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Cep",
                                "mensagem": "'Cep' deve ter no máximo 8 caracteres. Você digitou 0 caracteres.",
                              },
                              {
                                "nome": "enderecos[0].Cidade",
                                "mensagem": "'Cidade' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Estado",
                                "mensagem": "'Estado' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Numero",
                                "mensagem": "'Numero' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Bairro",
                                "mensagem": "'Bairro' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Logradouro",
                                "mensagem": "'Logradouro' deve ser informado.",
                              },
                              {
                                "nome": "enderecos[0].Apelido",
                                "mensagem": "'Apelido' deve ser informado.",
                              },
                              {
                                "nome": "contaBancaria.Numero",
                                "mensagem": "'Numero' deve ser informado.",
                              },
                              {
                                "nome": "contaBancaria.Digito",
                                "mensagem": "'Digito' deve ser informado.",
                              },
                              {
                                "nome": "contaBancaria.Digito",
                                "mensagem": "'Digito' deve ter no máximo 1 caracteres. Você digitou 0 caracteres.",
                              },
                              {
                                "nome": "contaBancaria.Agencia",
                                "mensagem": "'Agencia' deve ser informado.",
                              },
                              {
                                "nome": "cliente.CargoPep",
                                "mensagem": "'Cliente. Cargo Pep' deve ser informado.",
                              },
                            ],
                        },
                    }
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                unidade de venda inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "UnidadeVendaInexistente",
                          "mensagem": "Unidade de Venda inexistente.",
                        },
                    }
                canal de distribuição inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "CanalDistribuicaoInexistente",
                          "mensagem": "Canal de Distribuição inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /clientes/cpf/{cpf}:
    get:
      tags:
        - Clientes
      summary: Obter por Cpf
      description: obter as informações de um cliente através do seu cpf
      operationId: obter-cliente-cpf
      parameters:
        - name: cpf
          in: path
          description: Cpf do cliente
          required: true
          schema:
            "$ref": "#/components/schemas/Cpf"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/ClienteDetalheResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuarioInexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ClienteInexistente",
                          "mensagem": "Cliente inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /clientes/{clienteId}/ativar:
    patch:
      tags:
        - Clientes
      summary: Ativar Cliente
      description: Ativar Cliente
      operationId: ativar-cliente
      parameters:
        - name: clienteId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ClienteInexistente",
                          "mensagem": "Cliente inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /clientes/{clienteId}/inativar:
    patch:
      tags:
        - Clientes
      summary: Inativar Cliente
      description: inativar cliente
      operationId: inativar-cliente
      parameters:
        - name: clienteId
          in: path
          description: Id
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "404":
          description: não encontrado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro404"
              examples:
                usuário inexistente:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ClienteInexistente",
                          "mensagem": "Cliente inexistente.",
                        },
                    }
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /cobranca/confirmar:
    post:
      tags:
        - Cobrança
      summary: Confirmar cobrança recorrente
      description: confirmar cobrança recorrente
      operationId: confirmar-cobranca-recorrente
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CobrancaRecorrenteConfirmarRequest"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /cobranca/link-expirado:
    post:
      tags:
        - Cobrança
      summary: Informar os Links de Cobrança Expirados
      description: informar links de cobranca expirados
      operationId: informar-links-expirados
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CobrancaInformarLinkExpiradoRequest"
      responses:
        "204":
          description: sucesso
          headers: {}
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
  /origens/auto-contratacao-disponivel:
    get:
      tags:
        - Origens
      summary: Confirmar origem para autocontratação
      description: Confirmar origem para autocontratação
      operationId: auto-contratacao-disponivel
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        value:
                          allOf:
                            - $ref: "#/components/schemas/Condicional"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
  /bancos:
    get:
      tags:
        - Bancos
      summary: Listar Bancos
      description: listar bancos
      operationId: listar-bancos
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/BancoResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /estados-civis:
    get:
      tags:
        - Estados Civis
      summary: Listar Estados civis
      description: listar estados civis
      operationId: listar-estados-civis
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/EstadoCivilResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /orgaos-emissores:
    get:
      tags:
        - Orgãos Emissores
      summary: Listar Orgãos Emissores
      description: listar orgãos emissores
      operationId: listar-orgaos-emissores
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/OrgaoEmissorResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /ufs:
    get:
      tags:
        - UFs
      summary: Listar UFs
      description: listar Ufs.
      operationId: listar-ufs
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/UfResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /assistenciadoras:
    get:
      tags:
        - Assistenciadoras
      summary: Listar Assistenciadoras
      description: listar assistenciadoras
      operationId: listar-assistenciadoras
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/AssistenciadoraResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
  /unidades-venda/{unidadeVendaId}/canais-venda:
    get:
      tags:
        - Canais de Venda
      summary: Listar Canais de Venda
      description: listar canais de venda
      operationId: listar-canais-venda
      parameters:
        - name: unidadeVendaId
          in: path
          description: Id da unidade de venda
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  meta:
                    type: object
                    "$ref": "#/components/schemas/Meta"
                  dados:
                    type: array
                    items:
                      "$ref": "#/components/schemas/CanalVendaResponse"
        "403":
          description: acesso não autorizado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro403"
        "500":
          description: comportamento inesperado.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro500"
      security:
        - bearerAuth: []
    post:
      tags:
        - Canais de Venda
      summary: Cadastrar Canais de Venda
      description: cadastrar canais de venda
      operationId: cadastrar-canais-venda
      parameters:
        - name: unidadeVendaId
          in: path
          description: Id da unidade de venda
          required: true
          schema:
            "$ref": "#/components/schemas/Id"
      responses:
        "201":
          description: sucesso
          content:
            application/json:
              schema:
                properties:
                  dados:
                    type: array
                    items:
                      properties:
                        id:
                          description: Id
                          allOf:
                            - $ref: "#/components/schemas/Id"
        "400":
          description: argumentos inválidos.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Erro400"
              examples:
                argumentosInvalidos:
                  value:
                    {
                      "erro":
                        {
                          "codigo": "ArgumentosInvalidos",
                          "mensagem": "Um ou mais erros.",
                          "detalhes":
                            [
                              {
[...]
